# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [33]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [6]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')
salaries.shape

(33183, 8)

Examine the `salaries` dataset using the `head` function below.

In [4]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [7]:
# Your code here:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [10]:
# Your code here:
salaries['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [11]:
# Your code here:
salaries['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [14]:
# Your code here:
from scipy.stats import ttest_1samp

In [28]:
hourly_salaries = salaries[salaries["Salary or Hourly"] == "Hourly"]['Hourly Rate']
hourly_salaries.mean()

32.78855771628024

In [42]:
t_test = ttest_1samp(hourly_salaries, 30, alternative = 'two-sided')
t_test

TtestResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92, df=8021)

In [43]:
t_test.pvalue < 0.05

True

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [31]:
salary_salaries = salaries[salaries["Salary or Hourly"] == "Salary"]['Annual Salary']
salary_salaries.mean()

86786.99979015143

In [48]:
t_test = ttest_1samp(salary_salaries, 86000, alternative = 'less')
t_test

TtestResult(statistic=5.932870515690814, pvalue=0.9999999984921207, df=25160)

Using the `crosstab` function, find the department that has the most hourly workers.

In [61]:
# Your code here:
hourly_employees = salaries[salaries["Salary or Hourly"] == "Hourly"]
hourly_employees

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
10,"ABBOTT, BETTY L",FOSTER GRANDPARENT,FAMILY & SUPPORT,P,Hourly,20.0,NaN,2.65
18,"ABDULLAH, LAKENYA N",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
...,...,...,...,...,...,...,...,...
33164,"ZUREK, FRANCIS",ELECTRICAL MECHANIC,OEMC,F,Hourly,40.0,NaN,46.10
33168,"ZWARYCZ MANN, IRENE A",CROSSING GUARD,OEMC,P,Hourly,20.0,NaN,17.68
33169,"ZWARYCZ, THOMAS J",POOL MOTOR TRUCK DRIVER,WATER MGMNT,F,Hourly,40.0,NaN,35.60
33174,"ZYGADLO, JOHN P",MACHINIST (AUTOMOTIVE),GENERAL SERVICES,F,Hourly,40.0,NaN,46.35
33175,"ZYGADLO, MICHAEL J",FRM OF MACHINISTS - AUTOMOTIVE,GENERAL SERVICES,F,Hourly,40.0,NaN,48.85

In [63]:
hourly_dept_table = pd.crosstab(hourly_employees["Department"], hourly_employees['Salary or Hourly'])
hourly_dept_table

Salary or Hourly       Hourly
Department
ANIMAL CONTRL              19
AVIATION                 1082
BUDGET & MGMT               2
BUSINESS AFFAIRS            7
CITY COUNCIL               64
COMMUNITY DEVELOPMENT       4
CULTURAL AFFAIRS            7
FAMILY & SUPPORT          287
FINANCE                    44
FIRE                        2
GENERAL SERVICES          765
HEALTH                      3
HUMAN RESOURCES             4
LAW                        40
MAYOR'S OFFICE              8
OEMC                     1273
POLICE                     10
PROCUREMENT                 2
PUBLIC LIBRARY            299
STREETS & SAN            1862
TRANSPORTN                725
WATER MGMNT              1513

In [64]:
hourly_dept_table.sort_values(by="Hourly", ascending=False)

Salary or Hourly       Hourly
Department
STREETS & SAN            1862
WATER MGMNT              1513
OEMC                     1273
AVIATION                 1082
GENERAL SERVICES          765
TRANSPORTN                725
PUBLIC LIBRARY            299
FAMILY & SUPPORT          287
CITY COUNCIL               64
FINANCE                    44
LAW                        40
ANIMAL CONTRL              19
POLICE                     10
MAYOR'S OFFICE              8
CULTURAL AFFAIRS            7
BUSINESS AFFAIRS            7
HUMAN RESOURCES             4
COMMUNITY DEVELOPMENT       4
HEALTH                      3
FIRE                        2
PROCUREMENT                 2
BUDGET & MGMT               2

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [69]:
# Your code here:
quejas = salaries[salaries["Department"] == "STREETS & SAN"]['Hourly Rate']
quejas.fillna(0)

7        35.60
21       21.43
24       35.60
36       36.21
39       35.60
         ...
33107    35.60
33147    35.60
33149    36.21
33156    22.12
33162     0.00
Name: Hourly Rate, Length: 2198, dtype: float64

In [71]:
t_test = ttest_1samp(quejas, 35, alternative = 'greater')
t_test

TtestResult(statistic=nan, pvalue=nan, df=nan)

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [81]:
# Your code here:
from scipy.stats import sem 
import scipy.stats as stats
sample =salaries[salaries["Salary or Hourly"] == "Salary"]
sample = sample[sample['Department']=='POLICE']
sample= sample['Annual Salary']

In [80]:
sample

0        101442.0
1         94122.0
9         93354.0
11        84054.0
12        87006.0
           ...
33177     72510.0
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
Name: Annual Salary, Length: 13404, dtype: float64

In [82]:
mean = sum(sample) / len(sample)
std_dev = stats.tstd(sample)
sample_size = len(sample)

SEM = std_dev / (sample_size ** 0.5)

conf_int = stats.t.interval(0.95, df=sample_size-1, loc=mean, scale=SEM)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [83]:
# Your code here:
mean = sum(sample) / len(sample)
std_dev = stats.tstd(sample)
sample_size = len(sample)

SEM = std_dev / (sample_size ** 0.5)

conf_int = stats.t.interval(0.95, df=sample_size-1, loc=mean, scale=SEM)
conf_int

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [85]:
%pip install statsmodels

Collecting statsmodelsNote: you may need to restart the kernel to use updated packages.

  Downloading statsmodels-0.13.5-cp310-cp310-win_amd64.whl (9.1 MB)
     ---------------------------------------- 9.1/9.1 MB 2.8 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.22.3 in c:\users\carolina\appdata\local\programs\python\python310\lib\site-packages (from statsmodels) (1.24.1)
Requirement already satisfied: scipy>=1.3 in c:\users\carolina\appdata\local\programs\python\python310\lib\site-packages (from statsmodels) (1.10.0)
Requirement already satisfied: packaging>=21.3 in c:\users\carolina\appdata\local\programs\python\python310\lib\site-packages (from statsmodels) (21.3)
Requirement already satisfied: pandas>=0.25 in c:\users\carolina\appdata\local\programs\python\python310\lib\site-packages (from statsmodels) (1.5.3)
Collecting patsy>=0.5.2
  Downloading patsy-0.5.3-py2.py3-none-any.whl (233 kB)
     -------------------------------------- 233.8/233.8 kB 2.9 MB/s eta 0:00:00
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\carolina\appdata\local\programs\python\python310\lib\site-packages (from packaging>=21.3->statsmodels) (3.0.9)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\carolina\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\carolina\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.25->statsmodels) (2022.7.1)
Requirement already satisfied: six in c:\users\carolina\appdata\local\programs\python\python310\lib\site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.3 statsmodels-0.13.5

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [86]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest

In [95]:
hourly_workers = salaries[salaries['Salary or Hourly']== 'Hourly']
total_hourly_workres = len(hourly_workers)

In [96]:
stat, pval = proportions_ztest(total_hourly_workres, len(salaries),0.25)

In [97]:
stat, pval

(-3.5099964213703005, 0.0004481127249057967)