# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [93]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [94]:
salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')
pd.set_option('display.max_columns', None)
salaries.columns = [e.lower().replace(' ','_') for e in salaries.columns]

Examine the `salaries` dataset using the `head` function below.

In [95]:
salaries.head()

,name,job_titles,department,full_or_part-time,salary_or_hourly,typical_hours,annual_salary,hourly_rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [96]:
salaries.isna().sum()

name                     0
job_titles               0
department               0
full_or_part-time        0
salary_or_hourly         0
typical_hours        25161
annual_salary         8022
hourly_rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [97]:
salaries.salary_or_hourly.value_counts()

Salary    25161
Hourly     8022
Name: salary_or_hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [98]:
salaries.department.value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

**H1** -> the hourly rate of hourly workers is significantly not different from $30/hr.

**H0** -> the hourly rate of hourly workers is significantly different from $30/hr.

In [99]:
hours = salaries.copy()

In [100]:
hours = hours.drop(hours[hours.salary_or_hourly == 'Salary'].index)

In [101]:
hours = hours[['salary_or_hourly', 'hourly_rate']]

In [102]:
hours.head()

   salary_or_hourly  hourly_rate
4            Hourly        19.86
6            Hourly        46.10
7            Hourly        35.60
10           Hourly         2.65
18           Hourly        17.68

In [103]:
from scipy.stats import ttest_1samp

In [104]:
t_test = ttest_1samp(hours.hourly_rate, 30, alternative='two-sided')

In [105]:
t_test.pvalue

4.3230240486229894e-92

Puesto que el umbral es 0,05 y p.value está por debajo de esa cifra, podemos rechazar H0

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [106]:
police = salaries.copy()

In [107]:
police = police[['department','annual_salary']]

In [108]:
police = police.drop(police[police.department != 'POLICE'].index)

In [109]:
police = police.fillna(police.annual_salary.mean())

In [110]:
t_test = ttest_1samp(police.annual_salary, 86000, alternative='greater')
t_test.pvalue

0.0010222447547613906

El umbral es 0.05, por lo que podemos rechazar H0.

Using the `crosstab` function, find the department that has the most hourly workers.

In [111]:
salaries.head()

,name,job_titles,department,full_or_part-time,salary_or_hourly,typical_hours,annual_salary,hourly_rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [112]:
crossed_table = pd.crosstab(salaries.department, salaries.salary_or_hourly)

In [113]:
crossed_table = crossed_table.sort_values(by='Hourly', ascending=False)

In [114]:
crossed_table.head()

salary_or_hourly  Hourly  Salary
department
STREETS & SAN       1862     336
WATER MGMNT         1513     366
OEMC                1273     829
AVIATION            1082     547
GENERAL SERVICES     765     215

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [138]:
streets =  salaries.copy()

In [139]:
streets = streets.drop(streets[streets.department != 'STREETS & SAN'].index)

In [140]:
streets = streets.drop(streets[streets.salary_or_hourly != 'Hourly'].index)

In [143]:
t_test = ttest_1samp(streets.hourly_rate, 35, alternative='less')
t_test.pvalue

1.6689265282353859e-21

El umbral es 0,05 y el pvalue se encuentra por debajo de este, por lo que podemos rechazar H0

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [156]:
from scipy.stats import sem
from scipy.stats import norm
from scipy.stats import shapiro
from scipy.stats import t

In [161]:
t.interval(0.95, 
           len(hours.hourly_rate)-1, 
           loc=hours.hourly_rate.mean(),
           scale=sem(hours.hourly_rate))

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [171]:
t.interval(0.95, 
           len(police.annual_salary)-1, 
           loc=police.annual_salary.mean(),
           scale=sem(police.annual_salary))

(86177.28696809872, 86795.54203816806)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [172]:
from statsmodels.stats.proportion import proportions_ztest

In [177]:
salaries['salary_or_hourly'].value_counts()

Salary    25161
Hourly     8022
Name: salary_or_hourly, dtype: int64

In [178]:
z_score, p_value= proportions_ztest(salaries['salary_or_hourly'].value_counts()[1],
                                    len(salaries),
                                    0.25)

z_score, p_value

(-3.5099964213703005, 0.0004481127249057967)

El umbral está es 0,05 y el pvalue está por debajo del umbral, por lo que podemos rechazar H0.